<section>
  <table class="actor-sheet-stat-table">
    <caption class="actor-sheet-stats-table-label">
      {{localize "ikrpg.actorSheetLabels.statBlock.title"}}
    </caption>
    <tr class="actor-sheet-stat-block">
      <!--Physical stat block-->
      <td>
        <div class="actor-sheet-stat-value">
          <input
            class="actor-sheet-stat-box"
            name="data.phy.stat.value"
            type="text"
            value="{{data.phy.stat.value}}"
            data-type="Number"
          />
          <label class="actor-sheet-stat-name-label">
            {{localize "ikrpg.actorSheetLabels.statBlock.phy"}}
          </label>
        </div>
      </td>
      <td>
        <div class="actor-sheet-stat-value-max">
          <input
            class="actor-sheet-stat-box-max"
            name="data.phy.max.value"
            type="text"
            value="{{data.phy.max.value}}"
            data-type="Number"
          />
          <label class="actor-sheet-stat-max-label">
            {{localize "ikrpg.actorSheetLabels.statBlock.max"}}
          </label>
        </div>
      </td>
      <td>
        <table class="actor-sheet-stat-substat-table">
          <tr>
            <td>
              <div class="actor-sheet-stat-value">
                <input
                  class="actor-sheet-stat-box"
                  name="data.spd.stat.value"
                  type="text"
                  value="{{data.spd.stat.value}}"
                  data-type="Number"
                />
                <label class="actor-sheet-stat-name-label">
                  {{localize "ikrpg.actorSheetLabels.statBlock.spd"}}
                </label>
              </div>
            </td>
            <td>
              <div class="actor-sheet-stat-value-max">
                <input
                  class="actor-sheet-stat-box-max"
                  name="data.spd.max.value"
                  type="text"
                  value="{{data.spd.max.value}}"
                  data-type="Number"
                />
                <label class="actor-sheet-stat-max-label">
                  {{localize "ikrpg.actorSheetLabels.statBlock.max"}}
                </label>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="actor-sheet-stat-value">
                <input
                  class="actor-sheet-stat-box"
                  name="data.str.stat.value"
                  type="text"
                  value="{{data.str.stat.value}}"
                  data-type="Number"
                />
                <label class="actor-sheet-stat-name-label">
                  {{localize "ikrpg.actorSheetLabels.statBlock.str"}}
                </label>
              </div>
            </td>
            <td>
              <div class="actor-sheet-stat-value-max">
                <input
                  class="actor-sheet-stat-box-max"
                  name="data.str.max.value"
                  type="text"
                  value="{{data.str.max.value}}"
                  data-type="Number"
                />
                <label class="actor-sheet-stat-max-label">
                  {{localize "ikrpg.actorSheetLabels.statBlock.max"}}
                </label>
              </div>
            </td>
          </tr>
        </table>
      </td>
    </tr>

    <tr>
      <!--Agility stat block-->
      <td>
        <div class="actor-sheet-stat-value">
          <input
            class="actor-sheet-stat-box"
            name="data.agl.stat.value"
            type="text"
            value="{{data.agl.stat.value}}"
            data-type="Number"
          />
          <label class="actor-sheet-stat-name-label">
            {{localize "ikrpg.actorSheetLabels.statBlock.agl"}}
          </label>
        </div>
      </td>
      <td>
        <div class="actor-sheet-stat-value-max">
          <input
            class="actor-sheet-stat-box-max"
            name="data.agl.max.value"
            type="text"
            value="{{data.agl.max.value}}"
            data-type="Number"
          />
          <label class="actor-sheet-stat-max-label">
            {{localize "ikrpg.actorSheetLabels.statBlock.max"}}
          </label>
        </div>
      </td>
      <td>
        <table>
          <tr>
            <td>
              <div class="actor-sheet-stat-value">
                <input
                  class="actor-sheet-stat-box"
                  name="data.prw.stat.value"
                  type="text"
                  value="{{data.prw.stat.value}}"
                  data-type="Number"
                />
                <label class="actor-sheet-stat-name-label">
                  {{localize "ikrpg.actorSheetLabels.statBlock.prw"}}
                </label>
              </div>
            </td>
            <td>
              <div class="actor-sheet-stat-value-max">
                <input
                  class="actor-sheet-stat-box-max"
                  name="data.prw.max.value"
                  type="text"
                  value="{{data.prw.max.value}}"
                  data-type="Number"
                />
                <label class="actor-sheet-stat-max-label">
                  {{localize "ikrpg.actorSheetLabels.statBlock.max"}}
                </label>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="actor-sheet-stat-value">
                <input
                  class="actor-sheet-stat-box"
                  name="data.poi.stat.value"
                  type="text"
                  value="{{data.poi.stat.value}}"
                  data-type="Number"
                />
                <label class="actor-sheet-stat-name-label">
                  {{localize "ikrpg.actorSheetLabels.statBlock.poi"}}
                </label>
              </div>
            </td>
            <td>
              <div class="actor-sheet-stat-value-max">
                <input
                  class="actor-sheet-stat-box-max"
                  name="data.poi.max.value"
                  type="text"
                  value="{{data.poi.max.value}}"
                  data-type="Number"
                />
                <label class="actor-sheet-stat-max-label">
                  {{localize "ikrpg.actorSheetLabels.statBlock.max"}}
                </label>
              </div>
            </td>
          </tr>
        </table>
      </td>
    </tr>

    <tr>
      <!--Intelligence stat block-->
      <td>
        <div class="actor-sheet-stat-value">
          <input
            class="actor-sheet-stat-box"
            name="data.int.stat.value"
            type="text"
            value="{{data.int.stat.value}}"
            data-type="Number"
          />
          <label class="actor-sheet-stat-name-label">
            {{localize "ikrpg.actorSheetLabels.statBlock.int"}}
          </label>
        </div>
      </td>
      <td>
        <div class="actor-sheet-stat-value-max">
          <input
            class="actor-sheet-stat-box-max"
            name="data.int.max.value"
            type="text"
            value="{{data.int.max.value}}"
            data-type="Number"
          />
          <label class="actor-sheet-stat-max-label">
            {{localize "ikrpg.actorSheetLabels.statBlock.max"}}
          </label>
        </div>
      </td>
      <td>
        <table>
          <tr>
            <td>
              <div class="actor-sheet-stat-value">
                <input
                  class="actor-sheet-stat-box"
                  name="data.arc.stat.value"
                  type="text"
                  value="{{data.arc.stat.value}}"
                  data-type="Number"
                />
                <label class="actor-sheet-stat-name-label">
                  {{localize "ikrpg.actorSheetLabels.statBlock.arc"}}
                </label>
              </div>
            </td>
            <td>
              <div class="actor-sheet-stat-value-max">
                <input
                  class="actor-sheet-stat-box-max"
                  name="data.arc.max.value"
                  type="text"
                  value="{{data.arc.max.value}}"
                  data-type="Number"
                />
                <label class="actor-sheet-stat-max-label">
                  {{localize "ikrpg.actorSheetLabels.statBlock.max"}}
                </label>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="actor-sheet-stat-value">
                <input
                  class="actor-sheet-stat-box"
                  name="data.per.stat.value"
                  type="text"
                  value="{{data.per.stat.value}}"
                  data-type="Number"
                />
                <label class="actor-sheet-stat-name-label">
                  {{localize "ikrpg.actorSheetLabels.statBlock.per"}}
                </label>
              </div>
            </td>
            <td>
              <div class="actor-sheet-stat-value-max">
                <input
                  class="actor-sheet-stat-box-max"
                  name="data.per.max.value"
                  type="text"
                  value="{{data.per.max.value}}"
                  data-type="Number"
                />
                <label class="actor-sheet-stat-max-label">
                  {{localize "ikrpg.actorSheetLabels.statBlock.max"}}
                </label>
              </div>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</section>